@page
@model TicketApp.Pages.AssignedTasksListPage5Model
@{
}




@*In this page, Assigned tasks are listed which one's employee is assigned. Employee can close task by click Close Task Button
*@

<form method="post">


    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>ID</th>
                <th>AssignedDate</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            @* form içerisinden birden fazla veri gönderdiğimizde index mekanizmasını kullanırız. bu sebep ile foreach yerine for kullandık *@

        
@*            Holding tasks which are assigned in OpenTicket list. When click button it takes id of selected tasks id and send it to backend 
*@
            @for (int i = 0; i < Model.OpenTickets.Count; i++)
            {

            <tr>
                <td>
                    <input asp-for="OpenTickets[i].Subject " type="text" placeholder="Subject" />
                </td>
                <td>
                    <input asp-for="OpenTickets[i].Description" placeholder="Description" />
                </td>
                <td>
                    <input asp-for="OpenTickets[i].Id " placeholder="Difficulty Level" />
                </td>
                 <td>
                    <input asp-for="OpenTickets[i].AssignedDate " placeholder="Difficulty Level" />
                </td>
                 <td>
                     <input asp-for="EmployeeList[i].Name " placeholder="Difficulty Level" />
                 </td>

                 <td>
                    <input type="submit" value="CloseTask" asp-route-id="@Model.OpenTickets[i].Id" asp-page-handler="CloseTask"> Close task />
                 </td>
                
                
               

                


            </tr>


            }

            


        </tbody>
    </table>

    </form>