@page
@model TicketApp.Pages.ReviewPageModel
@{
}




<form method="post">
    



    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @* form içerisinden birden fazla veri gönderdiğimizde index mekanizmasını kullanırız. bu sebep ile foreach yerine for kullandık *@

        

            @for (int i = 0; i < Model.OpenTickets.Count; i++)
            {
            <tr>
                <td>
                    <input asp-for="OpenTickets[i].Subject " type="text" placeholder="Subject" />
                </td>
                <td>
                    <input asp-for="OpenTickets[i].Description" placeholder="Description" />
                </td>
                <td>
                    <input asp-for="OpenTickets[i].OpenDate " placeholder="Date of Created" />
                </td>

                 <td>
                    <button type="submit" asp-route-id="@Model.OpenTickets[i].Id" asp-page-handler="CloseTask"> Close task </button>
                 </td>

            </tr>


            }

            


        </tbody>
    </table>
    </form>