@page "{id}"
@model TicketApp.Pages.TicketDetailsPage3Model
@{
    //var id = long.Parse( (string)RouteData.Values["id"]);

}




    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Date</th>
                <th>Customer Name </th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td>
                    <input asp-for="TicketInput.Subject" />
                    <span></span>
                </td>
                <td>
                    <input asp-for="TicketInput.Description" />
                </td>
                <td>
                    <input asp-for="TicketInput.OpenDate" />
                </td>

                <td>

                    <input asp-for="TicketInput.CustomerId" />
                </td>



</tbody>



    </table>
    <form method="post">

        

            <p>Please select priority of task</p>

            @foreach (var item in Model.pri)
            {
                <input type="radio" asp-for="priority" value="@item"  />@item <br />
            }

            <br /><br />

            <p>Please select difficulty of task</p>

            @foreach (var item in Model.dif)
            {
                <input type="radio" asp-for="diff " value="@item"  />@item <br />
            }


            <input type="submit" value="Save" asp-page-handler="Save" >  Set Priority / Difficulty </input>
            


        

    </form>





